@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: #10b981;
  --card: #ffffff;
  --clr-heading: #1b1b1b;
  --clr-body: #14212B;
  --clr-bg: #6faed5;
  --clr-def: #EF9021;
  --clr-def-2: #FF8183;
  --clr-white: #fff;
  --clr-black: #000;
  --font-1: 'Roboto', sans-serif;
  --font-2: 'Poppins', sans-serif;
  --rad-1: 4px;
  --clr-1: #E3F3FF;
  --clr-2: #209FA3;
  --clr-3: #FF8183;
  --clr-4: #FAC388;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

html,body,#root{height:100%}

@keyframes wavy {
  0%, 100% { 
    transform: translateY(0px); 
  }
  20% { 
    transform: translateY(-8px); 
  }
  40% { 
    transform: translateY(0px);
  }
}

.wavy-char {
  animation: wavy 2s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.1s);
}

.errandx-wavy-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, var(--clr-2), #40c497);
    text-shadow: 0 0 5px var(--clr-2), 0 0 10px rgba(32, 159, 163, 0.5); 
}

.dark .errandx-wavy-gradient {
    background-image: linear-gradient(to right, var(--clr-2), #40c497);
    text-shadow: 0 0 5px rgba(32, 159, 163, 0.7), 0 0 15px rgba(32, 159, 163, 0.4);
}

.dark .animate-blink-pending {
  animation: blink-pending-dark 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 3px;
}

.chat-scroll::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

.dark .chat-scroll::-webkit-scrollbar-track {
  background-color: #374151;
}